body{
    background-image: url(coffee-2242213_1280.jpg);
    background-color: ghostwhite;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
text-align: left;
margin-left: 20lvh;
color:rgb(232, 223, 214);
font-size:x-large;
}